// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace SocialClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Social features and sharing
 */
export class SocialClient {
    protected readonly _options: NormalizedClientOptions<SocialClient.Options>;

    constructor(options: SocialClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Generate a full blog post from a food log entry.
     *
     * @param {FoodContextProtocolApi.PostGenerateBlogSocialBlogPostPostRequest} request
     * @param {SocialClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.social.postGenerateBlog({
     *         log_id: "log_id"
     *     })
     */
    public postGenerateBlog(
        request: FoodContextProtocolApi.PostGenerateBlogSocialBlogPostPostRequest,
        requestOptions?: SocialClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__postGenerateBlog(request, requestOptions));
    }

    private async __postGenerateBlog(
        request: FoodContextProtocolApi.PostGenerateBlogSocialBlogPostPostRequest,
        requestOptions?: SocialClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { log_id: logId, style } = request;
        const _queryParams: Record<string, unknown> = {
            log_id: logId,
            style,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "social/blog-post",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/social/blog-post");
    }
}
