// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace ProfileClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * User taste profile and preferences
 */
export class ProfileClient {
    protected readonly _options: NormalizedClientOptions<ProfileClient.Options>;

    constructor(options: ProfileClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get user's taste profile.
     *
     * @param {FoodContextProtocolApi.TasteProfileProfileGetRequest} request
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.profile.tasteProfile()
     */
    public tasteProfile(
        request: FoodContextProtocolApi.TasteProfileProfileGetRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__tasteProfile(request, requestOptions));
    }

    private async __tasteProfile(
        request: FoodContextProtocolApi.TasteProfileProfileGetRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { period } = request;
        const _queryParams: Record<string, unknown> = {
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "profile",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/profile");
    }

    /**
     * Stream taste profile generation.
     *
     * Uses Gemini's 1M token context to analyze full food history and
     * stream the profile analysis in real-time.
     *
     * @param {FoodContextProtocolApi.TasteProfileStreamProfileStreamGetRequest} request
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.profile.tasteProfileStream()
     */
    public tasteProfileStream(
        request: FoodContextProtocolApi.TasteProfileStreamProfileStreamGetRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__tasteProfileStream(request, requestOptions));
    }

    private async __tasteProfileStream(
        request: FoodContextProtocolApi.TasteProfileStreamProfileStreamGetRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { period } = request;
        const _queryParams: Record<string, unknown> = {
            period,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "profile/stream",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/profile/stream");
    }

    /**
     * Analyze user's complete food history using 1M context window.
     *
     * Provides deep insights across entire food journey:
     * - Long-term dietary evolution
     * - Seasonal patterns over years
     * - Life event correlations
     * - Adventurousness progression
     *
     * Supports pagination for data fetching and caches analysis results.
     * Use refresh=true to force re-analysis.
     *
     * @param {FoodContextProtocolApi.GetLifetimeProfileProfileLifetimeGetRequest} request
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.profile.getLifetimeProfile()
     */
    public getLifetimeProfile(
        request: FoodContextProtocolApi.GetLifetimeProfileProfileLifetimeGetRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getLifetimeProfile(request, requestOptions));
    }

    private async __getLifetimeProfile(
        request: FoodContextProtocolApi.GetLifetimeProfileProfileLifetimeGetRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { page, page_size: pageSize, refresh } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            refresh,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "profile/lifetime",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/profile/lifetime");
    }
}
