// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace AnalyzeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * AI-powered meal image analysis
 */
export class AnalyzeClient {
    protected readonly _options: NormalizedClientOptions<AnalyzeClient.Options>;

    constructor(options: AnalyzeClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Analyze a food image (without creating a log entry). Requires authentication.
     *
     * @param {FoodContextProtocolApi.ImageUrlRequest} request
     * @param {AnalyzeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.analyze.analyzeImage({
     *         image_url: "image_url"
     *     })
     */
    public analyzeImage(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeImage(request, requestOptions));
    }

    private async __analyzeImage(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "analyze",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/analyze");
    }

    /**
     * Stream food image analysis for real-time UI updates. Requires authentication.
     *
     * Returns Server-Sent Events (SSE) with analysis chunks as they're generated.
     * Perfect for showing AI "thinking" in the Flutter app.
     *
     * Usage (Flutter):
     *     final client = http.Client();
     *     final request = http.Request('POST', Uri.parse('$baseUrl/analyze/stream'));
     *     final response = await client.send(request);
     *     await for (final chunk in response.stream.transform(utf8.decoder)) {
     *         setState(() { _analysisText += chunk; });
     *     }
     *
     * @param {FoodContextProtocolApi.ImageUrlRequest} request
     * @param {AnalyzeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.analyze.analyzeImageStream({
     *         image_url: "image_url"
     *     })
     */
    public analyzeImageStream(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeImageStream(request, requestOptions));
    }

    private async __analyzeImageStream(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "analyze/stream",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/analyze/stream");
    }

    /**
     * Analyze a food image using Gemini 3 function calling. Requires authentication.
     *
     * Returns structured data extracted via tool calls:
     * - Dish identification
     * - Ingredients
     * - Nutrition estimates
     * - Allergens
     * - Dietary tags
     *
     * @param {FoodContextProtocolApi.ImageUrlRequest} request
     * @param {AnalyzeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.analyze.analyzeImageV2({
     *         image_url: "image_url"
     *     })
     */
    public analyzeImageV2(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeImageV2(request, requestOptions));
    }

    private async __analyzeImageV2(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "analyze/v2",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/analyze/v2");
    }

    /**
     * Analyze a complex food image using extended thinking. Requires authentication.
     *
     * Use for:
     * - Multi-component dishes
     * - Fusion cuisine
     * - Unusual presentations
     * - When standard analysis is uncertain
     *
     * @param {FoodContextProtocolApi.AnalyzeImageWithThinkingAnalyzeThinkingPostRequest} request
     * @param {AnalyzeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.analyze.analyzeImageWithThinking({
     *         body: {
     *             image_url: "image_url"
     *         }
     *     })
     */
    public analyzeImageWithThinking(
        request: FoodContextProtocolApi.AnalyzeImageWithThinkingAnalyzeThinkingPostRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeImageWithThinking(request, requestOptions));
    }

    private async __analyzeImageWithThinking(
        request: FoodContextProtocolApi.AnalyzeImageWithThinkingAnalyzeThinkingPostRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { thinking_level: thinkingLevel, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            thinking_level: thinkingLevel,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "analyze/thinking",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/analyze/thinking");
    }

    /**
     * Analyze food image using Agentic Vision (code execution). Requires authentication.
     *
     * Uses Gemini's code execution to actively investigate images:
     * - Zooms into areas of interest
     * - Counts discrete items
     * - Calculates portion estimates
     *
     * Best for complex dishes or when standard analysis needs improvement.
     * May take longer but provides higher accuracy for difficult images.
     *
     * @param {FoodContextProtocolApi.ImageUrlRequest} request
     * @param {AnalyzeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.analyze.analyzeImageWithAgenticVision({
     *         image_url: "image_url"
     *     })
     */
    public analyzeImageWithAgenticVision(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeImageWithAgenticVision(request, requestOptions));
    }

    private async __analyzeImageWithAgenticVision(
        request: FoodContextProtocolApi.ImageUrlRequest,
        requestOptions?: AnalyzeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "analyze/agentic-vision",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/analyze/agentic-vision");
    }
}
