// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace SafetyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Food safety, allergens, and recalls
 */
export class SafetyClient {
    protected readonly _options: NormalizedClientOptions<SafetyClient.Options>;

    constructor(options: SafetyClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Check for FDA food recalls using Google Search grounding.
     *
     * Returns real-time recall information with sources.
     *
     * @param {FoodContextProtocolApi.GetFoodRecallsSafetyRecallsGetRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.getFoodRecalls({
     *         food_name: "food_name"
     *     })
     */
    public getFoodRecalls(
        request: FoodContextProtocolApi.GetFoodRecallsSafetyRecallsGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getFoodRecalls(request, requestOptions));
    }

    private async __getFoodRecalls(
        request: FoodContextProtocolApi.GetFoodRecallsSafetyRecallsGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { food_name: foodName } = request;
        const _queryParams: Record<string, unknown> = {
            food_name: foodName,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/recalls",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/safety/recalls");
    }

    /**
     * Check for FDA food recalls (POST version for CLI). Requires authentication.
     *
     * @param {FoodContextProtocolApi.RecallsRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.postFoodRecalls({
     *         food_items: ["food_items"]
     *     })
     */
    public postFoodRecalls(
        request: FoodContextProtocolApi.RecallsRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__postFoodRecalls(request, requestOptions));
    }

    private async __postFoodRecalls(
        request: FoodContextProtocolApi.RecallsRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/recalls",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/safety/recalls");
    }

    /**
     * Check for allergen alerts and cross-contamination risks.
     *
     * Args:
     *     food_name: Name of the food to check
     *     allergens: Comma-separated list of allergens to check for
     *
     * @param {FoodContextProtocolApi.GetAllergenAlertsSafetyAllergensGetRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.getAllergenAlerts({
     *         food_name: "food_name",
     *         allergens: "allergens"
     *     })
     */
    public getAllergenAlerts(
        request: FoodContextProtocolApi.GetAllergenAlertsSafetyAllergensGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getAllergenAlerts(request, requestOptions));
    }

    private async __getAllergenAlerts(
        request: FoodContextProtocolApi.GetAllergenAlertsSafetyAllergensGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { food_name: foodName, allergens } = request;
        const _queryParams: Record<string, unknown> = {
            food_name: foodName,
            allergens,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/allergens",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/safety/allergens");
    }

    /**
     * Check for allergen alerts (POST version for CLI). Requires authentication.
     *
     * @param {FoodContextProtocolApi.AllergenAlertsRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.postAllergenAlerts({
     *         food_items: ["food_items"],
     *         allergies: ["allergies"]
     *     })
     */
    public postAllergenAlerts(
        request: FoodContextProtocolApi.AllergenAlertsRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__postAllergenAlerts(request, requestOptions));
    }

    private async __postAllergenAlerts(
        request: FoodContextProtocolApi.AllergenAlertsRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/allergens",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/safety/allergens");
    }

    /**
     * Get real-time restaurant safety information.
     *
     * Uses Google Search grounding for current:
     * - Health inspection scores
     * - Recent reviews mentioning food safety
     * - Operating status
     *
     * @param {FoodContextProtocolApi.GetRestaurantInfoSafetyRestaurantRestaurantNameGetRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.getRestaurantInfo({
     *         restaurant_name: "restaurant_name"
     *     })
     */
    public getRestaurantInfo(
        request: FoodContextProtocolApi.GetRestaurantInfoSafetyRestaurantRestaurantNameGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getRestaurantInfo(request, requestOptions));
    }

    private async __getRestaurantInfo(
        request: FoodContextProtocolApi.GetRestaurantInfoSafetyRestaurantRestaurantNameGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { restaurant_name: restaurantName, location } = request;
        const _queryParams: Record<string, unknown> = {
            location,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `safety/restaurant/${core.url.encodePathParam(restaurantName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/safety/restaurant/{restaurant_name}",
        );
    }

    /**
     * Check for drug-food interactions.
     *
     * Args:
     *     food_name: Name of the food
     *     medications: Comma-separated list of medications
     *
     * @param {FoodContextProtocolApi.GetDrugInteractionsSafetyDrugInteractionsGetRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.getDrugInteractions({
     *         food_name: "food_name",
     *         medications: "medications"
     *     })
     */
    public getDrugInteractions(
        request: FoodContextProtocolApi.GetDrugInteractionsSafetyDrugInteractionsGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getDrugInteractions(request, requestOptions));
    }

    private async __getDrugInteractions(
        request: FoodContextProtocolApi.GetDrugInteractionsSafetyDrugInteractionsGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { food_name: foodName, medications } = request;
        const _queryParams: Record<string, unknown> = {
            food_name: foodName,
            medications,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/drug-interactions",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/safety/drug-interactions");
    }

    /**
     * Check for drug-food interactions (POST version for CLI). Requires authentication.
     *
     * @param {FoodContextProtocolApi.DrugInteractionsRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.postDrugInteractions({
     *         food_items: ["food_items"],
     *         medications: ["medications"]
     *     })
     */
    public postDrugInteractions(
        request: FoodContextProtocolApi.DrugInteractionsRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__postDrugInteractions(request, requestOptions));
    }

    private async __postDrugInteractions(
        request: FoodContextProtocolApi.DrugInteractionsRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/drug-interactions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/safety/drug-interactions");
    }

    /**
     * Get seasonal food safety tips for a location.
     *
     * Returns grounded information about:
     * - Foods to avoid this season
     * - Storage tips for current weather
     * - Local food safety alerts
     *
     * @param {FoodContextProtocolApi.GetSeasonalSafetySafetySeasonalGetRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.getSeasonalSafety({
     *         location: "location"
     *     })
     */
    public getSeasonalSafety(
        request: FoodContextProtocolApi.GetSeasonalSafetySafetySeasonalGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getSeasonalSafety(request, requestOptions));
    }

    private async __getSeasonalSafety(
        request: FoodContextProtocolApi.GetSeasonalSafetySafetySeasonalGetRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { location } = request;
        const _queryParams: Record<string, unknown> = {
            location,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/seasonal",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/safety/seasonal");
    }

    /**
     * Verify a nutrition or health claim about food. Requires authentication.
     *
     * Uses grounding to fact-check claims like:
     * - "Avocados are high in protein"
     * - "Eating carrots improves night vision"
     *
     * @param {FoodContextProtocolApi.NutritionClaimRequest} request
     * @param {SafetyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.safety.verifyClaim({
     *         claim: "claim",
     *         food_name: "food_name"
     *     })
     */
    public verifyClaim(
        request: FoodContextProtocolApi.NutritionClaimRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__verifyClaim(request, requestOptions));
    }

    private async __verifyClaim(
        request: FoodContextProtocolApi.NutritionClaimRequest,
        requestOptions?: SafetyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "safety/verify-claim",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/safety/verify-claim");
    }
}
