// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace VoiceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Real-time voice processing with Live API
 */
export class VoiceClient {
    protected readonly _options: NormalizedClientOptions<VoiceClient.Options>;

    constructor(options: VoiceClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Process voice input to log a meal using the Gemini Live API.
     *
     * The AI assistant will:
     * - Understand the spoken meal description
     * - Ask clarifying questions if needed
     * - Extract structured meal data when ready
     *
     * **Audio formats supported**:
     * - `audio/pcm`: Raw PCM audio
     * - `audio/webm`: WebM audio
     * - `audio/wav`: WAV audio
     *
     * **Sample rates**: 8000-48000 Hz (16000 recommended)
     *
     * **Returns**:
     * - `logged`: Meal was successfully extracted
     * - `clarification_needed`: AI needs more information
     * - `error`: Processing failed
     *
     * @param {FoodContextProtocolApi.VoiceMealLogRequest} request
     * @param {VoiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.voice.voiceMealLogEndpoint({
     *         audio_base64: "audio_base64"
     *     })
     */
    public voiceMealLogEndpoint(
        request: FoodContextProtocolApi.VoiceMealLogRequest,
        requestOptions?: VoiceClient.RequestOptions,
    ): core.HttpResponsePromise<FoodContextProtocolApi.VoiceMealLogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__voiceMealLogEndpoint(request, requestOptions));
    }

    private async __voiceMealLogEndpoint(
        request: FoodContextProtocolApi.VoiceMealLogRequest,
        requestOptions?: VoiceClient.RequestOptions,
    ): Promise<core.WithRawResponse<FoodContextProtocolApi.VoiceMealLogResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "voice/meal",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FoodContextProtocolApi.VoiceMealLogResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/voice/meal");
    }

    /**
     * Process a voice query about food history using the Gemini Live API.
     *
     * The AI assistant will:
     * - Understand natural language food queries
     * - Extract search parameters
     * - Provide conversational responses
     *
     * **Example queries**:
     * - "What did I eat last week?"
     * - "Show me my lunch from Tuesday"
     * - "Find all the pasta dishes I've had"
     *
     * **Returns**:
     * - `search_requested`: A search query was extracted
     * - `response`: General response (no search needed)
     * - `error`: Processing failed
     *
     * @param {FoodContextProtocolApi.VoiceFoodQueryRequest} request
     * @param {VoiceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.voice.voiceFoodQueryEndpoint({
     *         audio_base64: "audio_base64"
     *     })
     */
    public voiceFoodQueryEndpoint(
        request: FoodContextProtocolApi.VoiceFoodQueryRequest,
        requestOptions?: VoiceClient.RequestOptions,
    ): core.HttpResponsePromise<FoodContextProtocolApi.VoiceFoodQueryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__voiceFoodQueryEndpoint(request, requestOptions));
    }

    private async __voiceFoodQueryEndpoint(
        request: FoodContextProtocolApi.VoiceFoodQueryRequest,
        requestOptions?: VoiceClient.RequestOptions,
    ): Promise<core.WithRawResponse<FoodContextProtocolApi.VoiceFoodQueryResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "voice/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FoodContextProtocolApi.VoiceFoodQueryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/voice/query");
    }
}
