// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace ExternalClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * External data source queries
 */
export class ExternalClient {
    protected readonly _options: NormalizedClientOptions<ExternalClient.Options>;

    constructor(options: ExternalClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Look up a food product by barcode using Open Food Facts.
     *
     * @param {FoodContextProtocolApi.GetProductInfoExternalLookupProductBarcodeGetRequest} request
     * @param {ExternalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.external.getProductInfo({
     *         barcode: "barcode"
     *     })
     */
    public getProductInfo(
        request: FoodContextProtocolApi.GetProductInfoExternalLookupProductBarcodeGetRequest,
        requestOptions?: ExternalClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getProductInfo(request, requestOptions));
    }

    private async __getProductInfo(
        request: FoodContextProtocolApi.GetProductInfoExternalLookupProductBarcodeGetRequest,
        requestOptions?: ExternalClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { barcode } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `external/lookup-product/${core.url.encodePathParam(barcode)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/external/lookup-product/{barcode}",
        );
    }
}
