// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";

export declare namespace HealthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Health check endpoints for monitoring
 */
export class HealthClient {
    protected readonly _options: NormalizedClientOptions<HealthClient.Options>;

    constructor(options: HealthClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Liveness probe - check if the process is running.
     *
     * This endpoint should always return 200 if the server is running.
     * Used by Kubernetes/Cloud Run to detect if the container needs restart.
     *
     * Returns:
     *     Simple status response
     *
     * @param {HealthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.health.liveness()
     */
    public liveness(requestOptions?: HealthClient.RequestOptions): core.HttpResponsePromise<Record<string, string>> {
        return core.HttpResponsePromise.fromPromise(this.__liveness(requestOptions));
    }

    private async __liveness(
        requestOptions?: HealthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, string>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "health/live",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, string>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FoodContextProtocolApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health/live");
    }

    /**
     * Readiness probe - check if the service can handle requests.
     *
     * Verifies:
     * - Gemini API key is configured
     * - Firebase credentials are available (in Cloud Run)
     *
     * Returns:
     *     Status with component health details
     *
     * @param {HealthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.health.readiness()
     */
    public readiness(requestOptions?: HealthClient.RequestOptions): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__readiness(requestOptions));
    }

    private async __readiness(
        requestOptions?: HealthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "health/ready",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FoodContextProtocolApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health/ready");
    }

    /**
     * Detailed dependency health check.
     *
     * Checks actual connectivity to:
     * - Gemini API (client availability)
     * - Firestore (database connection)
     * - Circuit breakers (current state)
     *
     * This is more expensive than /ready and should be used for debugging,
     * not high-frequency probes.
     *
     * Returns:
     *     Detailed status of all dependencies
     *
     * @param {HealthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.health.dependencyHealth()
     */
    public dependencyHealth(
        requestOptions?: HealthClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__dependencyHealth(requestOptions));
    }

    private async __dependencyHealth(
        requestOptions?: HealthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "health/deps",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FoodContextProtocolApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health/deps");
    }

    /**
     * Root health endpoint - simple health check.
     *
     * Equivalent to /health/live for convenience.
     *
     * @param {HealthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.health.healthRoot()
     */
    public healthRoot(requestOptions?: HealthClient.RequestOptions): core.HttpResponsePromise<Record<string, string>> {
        return core.HttpResponsePromise.fromPromise(this.__healthRoot(requestOptions));
    }

    private async __healthRoot(
        requestOptions?: HealthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, string>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "health/",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, string>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FoodContextProtocolApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health/");
    }
}
