// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace KnowledgeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Food knowledge graph queries
 */
export class KnowledgeClient {
    protected readonly _options: NormalizedClientOptions<KnowledgeClient.Options>;

    constructor(options: KnowledgeClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Enrich a food log with OFF/USDA knowledge data.
     *
     * Combines data from USDA FoodData Central (micronutrients) and
     * Open Food Facts (sustainability scores, additives) to provide
     * comprehensive food knowledge.
     *
     * @param {FoodContextProtocolApi.FcpRoutesKnowledgeEnrichRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.knowledge.enrichLog({
     *         log_id: "log_id"
     *     })
     */
    public enrichLog(
        request: FoodContextProtocolApi.FcpRoutesKnowledgeEnrichRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__enrichLog(request, requestOptions));
    }

    private async __enrichLog(
        request: FoodContextProtocolApi.FcpRoutesKnowledgeEnrichRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { log_id: logId, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `knowledge/enrich/${core.url.encodePathParam(logId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/knowledge/enrich/{log_id}");
    }

    /**
     * Search USDA and OFF databases for food information.
     *
     * Returns results from both databases for the given query.
     * Requires authentication but results are not user-specific.
     *
     * @param {FoodContextProtocolApi.SearchKnowledgeSearchQueryGetRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.knowledge.search({
     *         query: "query"
     *     })
     */
    public search(
        request: FoodContextProtocolApi.SearchKnowledgeSearchQueryGetRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: FoodContextProtocolApi.SearchKnowledgeSearchQueryGetRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { query } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `knowledge/search/${core.url.encodePathParam(query)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/knowledge/search/{query}");
    }

    /**
     * Compare nutrition between two foods.
     *
     * Uses USDA FoodData Central to compare micronutrients.
     * Returns 503 if USDA API is not configured, 404 if food not found.
     *
     * @param {FoodContextProtocolApi.CompareKnowledgeCompareGetRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.knowledge.compare({
     *         food1: "food1",
     *         food2: "food2"
     *     })
     */
    public compare(
        request: FoodContextProtocolApi.CompareKnowledgeCompareGetRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__compare(request, requestOptions));
    }

    private async __compare(
        request: FoodContextProtocolApi.CompareKnowledgeCompareGetRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { food1, food2 } = request;
        const _queryParams: Record<string, unknown> = {
            food1,
            food2,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "knowledge/compare",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/knowledge/compare");
    }

    /**
     * Get cached knowledge graph data for a food.
     *
     * Returns an envelope indicating cache status:
     * - {cached: true, ...data} on cache hit
     * - {cached: false} on cache miss (returns 200, not 404)
     *
     * @param {FoodContextProtocolApi.GetCachedKnowledgeCacheFoodNameGetRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.knowledge.getCached({
     *         food_name: "food_name"
     *     })
     */
    public getCached(
        request: FoodContextProtocolApi.GetCachedKnowledgeCacheFoodNameGetRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getCached(request, requestOptions));
    }

    private async __getCached(
        request: FoodContextProtocolApi.GetCachedKnowledgeCacheFoodNameGetRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { food_name: foodName } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `knowledge/cache/${core.url.encodePathParam(foodName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/knowledge/cache/{food_name}");
    }
}
