// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FoodContextProtocolApi from "../../../index.js";

export declare namespace VideoClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * AI video generation with Veo 3.1
 */
export class VideoClient {
    protected readonly _options: NormalizedClientOptions<VideoClient.Options>;

    constructor(options: VideoClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Generate a short AI video for a dish or recipe using Veo 3.1.
     *
     * Creates appetizing video content for:
     * - Food presentations
     * - Recipe showcases
     * - Social media content
     *
     * **Styles**:
     * - `cinematic`: Shallow depth of field, warm lighting
     * - `tutorial`: Overhead cooking view, step-by-step
     * - `social`: Trendy, quick cuts, vibrant colors
     * - `lifestyle`: Person enjoying meal, cozy atmosphere
     *
     * **Note**: Video generation takes 2-5 minutes.
     *
     * @param {FoodContextProtocolApi.RecipeVideoRequest} request
     * @param {VideoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.video.generateRecipeVideoEndpoint({
     *         dish_name: "dish_name"
     *     })
     */
    public generateRecipeVideoEndpoint(
        request: FoodContextProtocolApi.RecipeVideoRequest,
        requestOptions?: VideoClient.RequestOptions,
    ): core.HttpResponsePromise<FoodContextProtocolApi.VideoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generateRecipeVideoEndpoint(request, requestOptions));
    }

    private async __generateRecipeVideoEndpoint(
        request: FoodContextProtocolApi.RecipeVideoRequest,
        requestOptions?: VideoClient.RequestOptions,
    ): Promise<core.WithRawResponse<FoodContextProtocolApi.VideoResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "video/recipe",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FoodContextProtocolApi.VideoResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/video/recipe");
    }

    /**
     * Generate a short B-roll style cooking action clip.
     *
     * Creates clips of cooking actions like:
     * - Chopping vegetables
     * - Sautéing ingredients
     * - Flipping pancakes
     * - Plating dishes
     *
     * **Note**: Video generation takes 2-5 minutes.
     *
     * @param {FoodContextProtocolApi.CookingClipRequest} request
     * @param {VideoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     *
     * @example
     *     await client.video.generateCookingClipEndpoint({
     *         action: "action"
     *     })
     */
    public generateCookingClipEndpoint(
        request: FoodContextProtocolApi.CookingClipRequest,
        requestOptions?: VideoClient.RequestOptions,
    ): core.HttpResponsePromise<FoodContextProtocolApi.VideoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generateCookingClipEndpoint(request, requestOptions));
    }

    private async __generateCookingClipEndpoint(
        request: FoodContextProtocolApi.CookingClipRequest,
        requestOptions?: VideoClient.RequestOptions,
    ): Promise<core.WithRawResponse<FoodContextProtocolApi.VideoResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "video/clip",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FoodContextProtocolApi.VideoResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/video/clip");
    }

    /**
     * Generate a recipe video and return raw MP4 bytes.
     *
     * @param {FoodContextProtocolApi.RecipeVideoRequest} request
     * @param {VideoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FoodContextProtocolApi.UnprocessableEntityError}
     * @throws {@link FoodContextProtocolApi.ServiceUnavailableError}
     *
     * @example
     *     await client.video.generateRecipeVideoRaw({
     *         dish_name: "dish_name"
     *     })
     */
    public generateRecipeVideoRaw(
        request: FoodContextProtocolApi.RecipeVideoRequest,
        requestOptions?: VideoClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__generateRecipeVideoRaw(request, requestOptions));
    }

    private async __generateRecipeVideoRaw(
        request: FoodContextProtocolApi.RecipeVideoRequest,
        requestOptions?: VideoClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "video/recipe/raw",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new FoodContextProtocolApi.UnprocessableEntityError(
                        _response.error.body as FoodContextProtocolApi.HttpValidationError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new FoodContextProtocolApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FoodContextProtocolApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/video/recipe/raw");
    }
}
